*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(40deg, rgb(1, 45, 134), 70%, rgb(1, 9, 26) );
    
}

/* layout básico e estilização */

.grid-layout{
    display:grid;
    height:100vh;
    grid-template-columns:1fr 0.3fr;
    grid-template-rows:4.2rem 1.4fr ;
    padding:10px;
    gap:10px;

}

.grid-layout > div {
    border-radius:3px;
    border:1px solid black;
    box-shadow:1px 2px 2px 0px black,
               1px 3px 10px 0px black inset;

}



.grid-layout > div.grid-main{
    grid-row:2/5;
}
.grid-layout > div.grid-right-bar{
    margin-top:10rem;
    padding:2.2rem 0.4rem;
}


.grid-header {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background:rgb(241, 241, 241);
}
.grid-header > ul {
    display:flex;
    justify-content:space-between;
    width:80%;
    margin:0 auto;
}



.grid-header > ul > button{
    padding:7px 3rem;
    font-weight:bolder;
    border:none;
    transition:0.3s;
    outline:none;
    border-radius:2px;
    box-shadow:-2px 1px 1px 3px black;
}

.grid-header > ul > button:hover{
    transform:translate(3px,-5px);
    transition:0.3s;
    cursor: pointer;
    color:white;
    box-shadow:transparent;
}

.grid-header > ul > button:first-child:hover{
    background:linear-gradient(40deg,  rgb(5, 24, 65), 50%, rgb(233, 216, 60));
}

.grid-header > ul > button:nth-child(2):hover{
     background:linear-gradient(40deg,  rgb(58, 104, 204), 50%, rgb(192, 62, 11)); 
}
.grid-header > ul > button:nth-child(3):hover{
     background:linear-gradient(40deg,  rgb(2, 9, 26), 50%, rgb(1, 0, 3));
}
.grid-header > ul > button:nth-child(4):hover{
     background:linear-gradient(40deg,  rgb(1, 0, 3), 50%, rgb(32, 24, 37));
}


/* botões de task */
.grid-layout > .grid-right-bar{
    display:flex;
    padding:30px;
    justify-content:space-evenly;
    background:rgb(241, 241, 241);
}

.grid-right-bar > button{
    gap:10px;
    align-self:center;
    font-weight:bolder;
    border:none;
    display:flex;
    justify-content:space-between0;
    align-items:center;
    transition:0.3s;
    padding:10px 10px;
    outline:none;
    width:40%;
    border-radius:2px;
    box-shadow:-2px 1px 1px 3px rgb(14, 13, 13);
}

.grid-right-bar > button:hover{
    transform:translate(-3px,-2px);
    transition:0.3s;
    cursor: pointer;
    color:white;
    background-color:rgb(75, 69, 69);
    box-shadow:transparent;
}

.grid-right-bar > button > img {
    
}

/* botões de task */

/* task */
.grid-layout > .grid-main {
    display:flex;
    justify-content:start;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(30deg, rgb(184, 210, 228), 10%, rgb(221, 255, 238));
}

.grid-main > i.task{  
    margin-top:10px;
    padding:4px;
    display:flex;
    justify-content:space-evenly;
    border-end-end-radius:7px;
    border-end-start-radius:8px;
    width:50%;

    background:linear-gradient(30deg, rgb(50, 83, 107), 10%, rgb(124, 136, 130));
    text-align:center;
    box-shadow:2px 1px 2px 0px black;
    transition:0.3s;
    align-items:center;
    font-weight:bolder;
    border:3px solid black;
    
}

.grid-main > i.task:hover{
    transition:0.3s;
    transform:scale(1.1);
    background:linear-gradient(30deg, rgb(100, 149, 184), 10%, rgb(215, 235, 224));;
}

i.task > div > button {
    border:none;
    outline:none;
    box-shadow:0px 2px 1px 1px black;
    border:1px solid black;
    padding:5px 10px;
    cursor:pointer;
    transition:0.3s;
}

i.task > div > button:hover:first-child{
    background-color:rgb(96, 228, 78);
    transition:0.3s;
}


i.task > div > button:hover:nth-child(2){
    background-color:rgb(180, 19, 19);
    transition:0.3s;
}

i.task > div > button:hover:nth-child(3){
    background-color:rgb(233, 216, 60);
    transition:0.3s;
}